@model IEnumerable<WSR_NPI.DataBase.Models.Order>

@{
    ViewBag.Title = "Cписок заказов";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3>Список заказов</h3>
    </div>
    <div class="panel-body">

        <table class="table table-bordered table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Составитель</th>
                    <th scope="col">Статус</th>
                    <th scope="col">Действия</th>
                </tr>
            </thead>
            <tbody>
                @{
                    var i = 1;
                    foreach (var item in Model)
                    {
                        <tr>
                            <th scope="row">@i</th>
                            <td>@item.User.Login</td>
                            <td>@item.Status</td>
                            <td>
                                @Html.AntiForgeryToken()
                                @Html.ActionLink("Содержимое", "Details", "SalesManager", new { id = item.Id }, new { @class = "btn btn-primary order-btn" })

                                @if (item.Status.Equals("Принят"))
                                {
                                    @Html.ActionLink("Редактировать", "Edit", "SalesManager", new { id = item.Id }, new { @class = "btn btn-secondary" })
                                }

                                @Html.ActionLink("История статусов", "History", "SalesManager", new { id = item.Id }, new { @class = "btn btn-info order-btn" })

                                @if (item.Status.Equals("Принят") || item.Status.Equals("Комплектация начата") || item.Status.Equals("Комплектация завершена"))
                                {
                                    @Html.ActionLink("Отменить", "Cancel", "SalesManager", new { id = item.Id }, new { @class = "btn btn-danger" })
                                }
                            </td>
                        </tr>

                        i++;
                    }
                }
            </tbody>
        </table>

        <div class="details">
        </div>
    </div>
</div>

<script>
    $(".order-btn").on("click", function (e) {
            e.preventDefault();

            $(".details").load(this.href);
        });
</script>